@model RadioButton_Role_Assignment.Models.RoleAssignSendModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="mt-3" asp-action="AssignRoleWithCheckbox" asp-controller="Home" method="post">

    <input type="hidden" asp-for="@Model.UserId" />

    <ul class="list-group">
        @for (int i = 0; i < Model.Roles.Count; i++) //Burada foreach ile @Model.Roles'de dönersek modelin içini nasıl dolduracağını bilmeyeceğinden dolayı rolleri boş gönderir. Bu nedenle for ile dönmeliyiz. Foreach ile yazacağımız @role.Name ile for ile yazacağımız @Model.Roles[i].Name bir değildir. Foreach ile yazılan post edilince model'e gitmez.
        {
            <input type="hidden" asp-for="@Model.Roles[i].Name" />
            <input type="hidden" asp-for="@Model.Roles[i].RoleId" />
            <li class="list-group-item">
                <input class="form-check-input me-1" asp-for="@Model.Roles[i].Exist" id="@Model.Roles[i].Name">
                <label class="form-check-label stretched-link" for="@Model.Roles[i].Name">@Model.Roles[i].Name</label>
            </li>
        }
    </ul>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

</form>